
p{ 
font-family: Impact, Charcoal, sans-serif; }
img{ width: 650px;
  height: 400px;}
p.s{ color: #ff8e44; }
h1.question{ color:#ff8e44; }
flex-container.iframe{  width="560" height="315" src="https://www.youtube.com/embed/dqOb8pqOb10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ;}
h1{ color: #ff8e44; }
h3{ color: #ff8e44; }
 


body
{
    
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}



body {
  background-color: #5e5b5b;
}
h2{ color: #ff8e44; }
div.fin{ color: #4ebbfe; }
.debut .haut { color: #b9f526; }
.navigation li {
  display: inline-block ;
  background: #26f5a7 ;
  width: 250px;
